<h2>Khaki Scouts Troop</h2>

<div *ngFor="let scout of scouts | async"  class="panel panel-default">

  <div class="panel panel-default">
    <img src="{{scout.url}}" alt="Picture">
    <!-- <p>{{scout.url}}</p> -->
    <div class="panel-body">
      <h3 (click)="goToDetailPage(scout)">{{scout.name}}</h3>
      <h4><em>{{scout.rank}}</em></h4>
      <div *ngIf="currentRoute === '/master'">
        {{scout.description}}
        <hr>
        <app-edit-scout [selectedScout]="scout"></app-edit-scout>
      </div>
    </div>
  </div>

</div>
