<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink=""><img src="assets/img/raccoon.png" alt="logo"></a>
    </div>
    <h1>{{title}}</h1>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="scouts">Troop 55</a></li>
      <li><a routerLink="about">Moonrise Kingdom</a></li>
    </ul>
  </div>
</nav>

  <router-outlet></router-outlet>

<footer class="footer">
  <div class="container">
    <a class="text-muted" routerLink="master">Scout Master</a>
  </div>
</footer>
