/* You can add global styles to this file, and also import other style files */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #e6e1cd;
  border: 1px solid #a9a077;
  color: #a9a077;
  padding: 15px;
  margin-top: 40px;
}

img {
  max-width: 100%;
  vertical-align: baseline;
}
.panel {
  width: 360px;
}

.panel.panel-default {
  border: none;
}

nav.navbar.navbar-default {
  border-color: #a9a077;
  border-radius: 0;
  background-color: #e6e1cd;
  margin-bottom: 0;
}

nav.navbar.navbar-default img {
  height: 80px;
}

a {
  color: #54372;
}

.navbar {
  margin-bottom: 0;
}
